@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Anees</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with Anees Mehmood</a>.</p>
</div>
<h1>SALAM MY NAME IS ANEES AND THIS IS A TEST PROJECT</h1>